{% load static %}

<html>
    <link rel="stylesheet" href="{% static 'chatTemplate.css' %}">
<title>CHATGPT</title>

<body>
    <div class = "nav">
        <p> LIfeOS
    </div>

    <section class ="main">
            <h3> ChatGPT</h3>
            <p id = "output"> </p>

        <div class = "bottom-section">
            <div class ="input-container">
                <input placeholder = "enter text "/>
                <div id = "submit">➢</div>
            </div>
        </div>

    </section>
</body>
